/* css dokument - RÖR BARA DINA EGNA SAKER */
/* Hacis del*/
*{
  margin: 0;
  padding: 0;
}

.Content{
  margin: auto;
  height: 100%;
  max-width: 70vw;
  background-color: white;
}
.Content background{
  opacity: 0.5;
}

#Header h1{
 text-align: center;
}

#Inledning{
  margin-top: 1px;

}
#idk a{
background-color: blue;
color: blue;
text-decoration: none;
display:inline-block;
}

.divbody {
  background-attachment: fixed;
  background-image: url("skola.img");
}
/*färgerna ska bytas när sidan e typ klar så att det passar in//Jorge.*/
.Nav{
background: black;
width: 100vw;
border-bottom: 10px solid grey;
box-shadow: 3px 0px 5px grey;
text-align: center;
padding: 0.5px;
position: fixed;
}
ul li{
  display: inline-block;
  list-style-type: none;
  padding: 20px 30px;
  font-size: 20px;
  color: white;
  font-family: sans-serif;
  transition: 1s;
}
ul li:hover{
  background: grey;
  font-weight: bold;
}
/*Om vi vill ha annars kan man ta bort.*/
ul li:active{
  background-color: red;
  color: black;
}
.Content{
  margin-top: 30px;
}
