/* css dokument - RÖR BARA DINA EGNA SAKER */

*{
  margin: 0;
  padding: 0;
}

.top{
  position: absolute;
  text-align: center;
  width: 100vw;
  height: 10vh;
  background-color: red;
}

.Content{
  background-color: green;
  margin: auto;
  height: 100%;
  max-width: 70vw;
}

#Header h1{
 text-align: center;
}

#Inledning{
  margin-top: 1px;

}
#idk a{
background-color: blue;
color: blue;
text-decoration: none;
display:inline-block;
}

.divbody {
  background-attachment: fixed;
  background-image: url("skola.img");
}
/*färgerna ska bytas när sidan e typ klar så att det passar in//Jorge.*/
.Nav{
  overflow: hidden;
  background-color: yellow;
  position: fixed;
  top: 0;
  width: 100%;
}
.Nav a{
  float: center;
  display: inline-block;
  color: purple;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Nav a:hover{
  background: black;
  color: red;
}
/*Om vi vill ha annars kan man ta bort.*/
.Nav a:active{
  background-color: red;
  color: black;
}
.Content{
  margin-top: 30px;
}
